table {
    border-collapse: collapse;

}

td {
    width: 70px;
    height: 70px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

table,
td {
    border: 1px solid gray;
}

.black_block {
    background-color: #a29e8a;
    color: rgb(37, 25, 3);
    font-weight: 500;

}

.white_block {
    background-color: white;
    color: rgb(37, 25, 3);
    font-weight: 500;

}